h1 {
  color: #00512b;
}

#buffer {
	padding-left: 10%;
	padding-right: 10%;
}


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.headerpadbottom { margin-bottom: 75px; }

.navbar .navbar-nav {
  display: inline-block;
  vertical-align: top;
}

#perspective {
		  margin: 0 auto;
		  margin-top: 80px;
		  width: 310px;
		  height: 140px;
		  position: relative;
		  -webkit-perspective: 1100px;
		  perspective: 1100px;
		}
	
