h1 {
  color: #00512b;
}

#buffer {
	padding-left: 10%;
	padding-right: 10%;
}


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.headerpadbottom { margin-bottom: 75px; }

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}




/* accordian / navbar styles for 768 brkpt */
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}
accordion * {
  font-weight: 400;
  color: black;
}


/*.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; 
}*/
.bs-example{
	margin: 20px;
}

#perspective {
		  margin: 0 auto;
		  margin-top: 80px;
		  width: 310px;
		  height: 140px;
		  position: relative;
		  -webkit-perspective: 1100px;
		  perspective: 1100px;
		}
		#myCarousel {
		  width: 100%;
		  height: 100%;
		  position: absolute;
		  -webkit-transform-style: preserve-3d;
		  -moz-transform-style: preserve-3d;
		  -webkit-transform: rotateY(0deg) translateZ(-220px);
		}
		#myCarousel figure {
		  display: block;
		  position: absolute;
		  /*background: #399294;*/
		  width: 186px;
		  height: 116px;
		  /*opacity: 0.6;*/
		  margin: 12px;
		  color: #fff;
		  cursor: pointer;
		  -webkit-transition: opacity 1s, -webkit-transform 1s;
             -moz-transition: opacity 1s, -moz-transform 1s;
               -o-transition: opacity 1s, -o-transform 1s;
                  transition: opacity 1s, transform 1s;
		}
