body {
    font-size: 100%;
}

h1 {
    font-size: 5em;
	color: #00512b;
}

h2 {
    font-size: 4em;
}

p {
    font-size: 1.5em;
}

#buffer {
	padding-left: 8%;
	padding-right: 8%;
}

#cpp-navbar {
	font-size: 1.5em;
	
}

#banner {
	background-color: #00512b;
	font-size: 2vw;
	color: #ffffff;
	padding:5px;
	font-family: inherit;
	font-weight:100;
	letter-spacing: .4px;
}

#banner img {
	padding-right: 10px;
	padding-left: 10px;
}


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.headerpadbottom { margin-bottom: 75px; }

.navbar .navbar-nav {
  display: inline-block;
  vertical-align: top;
  float:right;
}

#perspective {
		  margin: 0 auto;
		  margin-top: 80px;
		  width: 310px;
		  height: 140px;
		  position: relative;
		  -webkit-perspective: 1100px;
		  perspective: 1100px;
		}
	
